@import url("font/fira-code/fira-code.css");

/* Works on Firefox */
* {
  scrollbar-width: 12px;
  scrollbar-color: #ce2bd4 #0b060f; /* scroll thumb and track */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #0b060f;
}

*::-webkit-scrollbar-thumb {
  background-color: #ce2bd4;
  border-radius: 6px;
  border: 3px solid #ce2bd4;
  padding: 2px;
}

body {
  background: #0b060f;
  color: #d6d6d6;
}

.header {
  width: 50vw;
  height: auto;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 20px;
  padding: 0.5% 2% 0.5% 2%;
}
.header h1 {
  position: relative;
  font-style: italic;
}

.header h3 {
  font-size: 0.8em;
  color: #f700ffff;
}

.home,
.rss {
  padding: 10px;
  position: absolute;
}

.home {
  position: absolute;
  left: 30px;
  top: 30px;
}

.rss {
  right: 30px;
  top: 30px;
  font-size: 20px;
}

.home img {
  width: 25px;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rss img{
  width: 25px;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.min {
  font-weight: bolder;
  font-size: x-large;
}

a {
  color: #f700ff;
  text-decoration: none;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

a:hover {
  color: #09ff00;
  font-weight: bolder;
}

.post {
  margin: auto;
  padding: 2.5%;
  white-space: pre-wrap;
  width: 50vw;
  margin-bottom: 2vh;
  font-size: large;
}

.post a:visited{
  color: #940099;

}

.post img {
  max-width: 90%;
  max-height: 400px;
}

/*TODO: Fix lists in Markdown*/

.post h1 {
  margin: 0px;
  margin-bottom: 10px;
}

.post p {
  margin: unset;
}

code {
  color: #aaa;
  background: #000;
  padding: 0.1% 0.6% 0.1% 0.6%;
  border-radius: 2.5px;
}

pre code {
  display: block;
  background-color: #242424;
  white-space: pre;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 60px;
  padding: 2%;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .post {
    width: auto;
    padding: 5%;
  }


}
